<a href="#/home" class="btn btn-lg btn-primary">&#60; Home</a>
<form action="/login" method="post" class="container form-horizontal" name="doctorLogInForm">
<!--ng-submit="loginDoctor(doctor)"-->

	<!-- Form Name -->
	<h1>Doctor Login Form</h1>
	<hr>
	<br>
	<br>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-lg-3 control-label">Username</label>
		<div class="col-lg-7">
			<input  name="username" type="text" placeholder="enter doctor's username" class="form-control input-lg" ng-model="doctor.firstName" required="">
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-lg-3 control-label" for="textinput">Password</label>
		<div class="col-lg-7">
			<input name="password" type="password" placeholder="enter doctor's password" class="form-control input-lg" ng-model="doctor.lastName" required="">

		</div>
	</div>
	<!-- Button -->
	<div class="form-group">
		<div class="col-lg-7 col-lg-offset-3">
			<input type="submit" class="btn btn-info btn-lg btn-block" value="Login" />
		</div>
	</div>
</form>
<a href="#/doctorRegister" class="btn btn-lg btn-primary">Register New Doctor</a>
