<nav class="navbar navbar-default navbar-inverse">
	<div class="container collapse navbar-collapse">
		<ul class="nav navbar-nav">

			
			<a href="#/doctorLogin" class="btn btn-default navbar-btn navbar-left">Login Doctor</a>
			
			<a href="#/patient" class="btn btn-default navbar-btn navbar-left">Register Patient </a>

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search patient..." />
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>

			<select class="btn btn navbar-left">
				<option selected default disabled>Select Patient...</option>
			</select>
		</ul>

	</div>
</nav>

<strong ng-show="currentDoctor">Current Doctor - {{:: currentDoctor}}</strong>

<div ng-include src="'../Views/patientList.html'"></div>
