<dir-pagination-controls></dir-pagination-controls>
<br>
<h2 class="text-center">Patient List </h2>
<br>
<table id="patientList" class="table table-striped table-hover">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Doctors Name</th>
	</tr>
	<tr ng-repeat="p in patientModel | filter: search | startFrom:currentPage*pageSize | limitTo:pageSize"  ng-bing-html-unsafe="patient.id" dir-paginate="p in patientModel | itemsPerPage: 10" ng-class="{active: activePage.page == $index, 
				  inactive: activePage.page != $index}">

		<td ng-click="selectedPatient(p)">{{p.firstName}}</td>
		<td ng-click="selectedPatient(p)">{{p.lastName}}</td>
		<td ng-click="selectedPatient(p)">{{p.familyDoctor[0].firstName +" "+p.familyDoctor[0].lastName}}</td>
		<td><img src="../Assets/delete.png"/></td>
	</tr>
</table>

<button class="btn btn-lg btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
	Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button class="btn btn-lg btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
	Next
</button>