<a href="#/home" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
<form class="container form-horizontal" name="patientRegisterForm" ng-submit="submitPatient(patient)">
	<!-- Form Name -->
	<h1>Register New Patient</h1>
	<hr>
	<br>
	<br>

	<!-- Text input FirstName-->
	<div class="form-group">
		<label class="col-lg-3 control-label">First Name</label>
		<div class="col-lg-7">
			<input type="text" placeholder="Enter patients's first name" class="form-control input-lg" name="firstName" ng-model="patient.firstName" ng-pattern="" required>
		</div>
	</div>

	<!-- Text input LastName-->
	<div class="form-group">
		<label class="col-lg-3 control-label" for="textinput">Last Name</label>
		<div class="col-lg-7">
			<input type="text" name="lastName" placeholder="Enter patient's last name" class="form-control input-lg" ng-model="patient.lastName" required="">
		</div>
	</div>

	<!-- Text input complaint-->
	<div class="form-group">
		<label class="col-lg-3 control-label" for="textinput">Complaint</label>
		<div class="col-lg-7">
			<input type="text" placeholder="Enter patient's symptoms" class="form-control input-lg" ng-model="patient.complaint" required="">
		</div>
	</div>

	<!-- Text input billing-->
	<div class="form-group">

		<label class="col-lg-3 control-label">Billing Amount</label>
		<div class="input-group col-lg-7">
			<span class="input-group-addon">$</span>
			<input type="number" name="quantity" placeholder="Total cost" class="form-control input-lg" ng-model="patient.billingAmount" required="">
		</div>
	</div>

	<!-- Text input Patients Age-->
	<div class="form-group">

		<label class="col-lg-3 control-label">Age</label>
		<div class="col-lg-7">
			<input type="number" name="quantity" min="1" max="99" placeholder="Enter Age" class="form-control input-lg" ng-model="patient.age" required="">
		</div>
	</div>

	<!-- Text input Patients Doctor-->
	<div class="form-group">

		<label class="col-lg-3 control-label">Family Doctor</label>
		<div class="col-lg-7">
			<select class="form-control input-lg" ng-model="patient.familyDoctor" ng-options="p as p.firstName+' '+p.lastName for p in familyDoctors" required>
				<option value="">Please Select doctor...</option>
			</select>
		</div>
	</div>

	<!-- Text input Created At-->
	<div class="form-group">

		<label class="col-lg-3 control-label">Created At</label>
		<div class="col-lg-7">
			<input type="date" placeholder="yyyy-MM-dd" min="2014-01-01" max="2200-12-31" class="form-control input-lg" ng-model="patient.createdAt" required>
		</div>
	</div>

	<!-- Text input Modified At-->
	<div class="form-group">

		<label class="col-lg-3 control-label">Modified At</label>
		<div class="col-lg-7">
			<input type="date" placeholder="yyyy-MM-dd" min="2014-01-01" max="2200-12-31" class="form-control input-lg" ng-model="patient.lastModified" required>
		</div>

	</div>
	</div>

	<!-- Button -->
	<div class="form-group">
		<div class="col-lg-7 col-lg-offset-3">
			<input type="submit" class="btn btn-info btn-lg btn-block" />
		</div>
	</div>
</form>