<nav class="navbar navbar-default navbar-inverse">
	<div class="container collapse navbar-collapse">
		<ul class="nav navbar-nav">

			<a href="#/doctorLogin" class="btn btn-default navbar-btn navbar-left">Login Doctor</a>

			<a href="#/patient" class="btn btn-default navbar-btn navbar-left">Register Patient </a>

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search patient or by doctor by last name..." ng-model="search.lastName" size=50/>
				</div>
			</form>
			<select class="btn btn navbar-left" ng-change="selectedPatient(navPatientSelected)" ng-options="p.firstName+' '+p.lastName for p in patientModel" ng-model="navPatientSelected">
				<option value="" disabled selected>Choose Patient...</option>
			</select>

		</ul>
	</div>
</nav>

<strong ng-show="currentDoctor">Current Doctor - {{:: currentDoctor}}</strong>

<!--<div ng-include src="'../Views/patientList.html'"></div>-->


<!--Patient List from here-->
<br>
<h2 class="text-center">Patient List </h2>
<br>
<table id="patientList" class="table table-striped table-hover" javascript="init()">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Doctors Name</th>
		<th></th>
	</tr>
	<tr 
		ng-repeat="p in patientModel | filter: search.lastName | startFrom:currentPage*pageSize | limitTo:pageSize"  
		ng-bing-html-unsafe="patient.id" 
		dir-paginate="p in patientModel | itemsPerPage: 10" 
		ng-class="{active: activePage.page == $index, 
				  inactive: activePage.page != $index}"
		>

		<td ng-click="selectedPatient(p)">{{p.firstName}}</td>
		<td ng-click="selectedPatient(p)">{{p.lastName}}</td>
		<td ng-click="selectedPatient(p)">{{p.familyDoctor[0].firstName +" "+p.familyDoctor[0].lastName}}</td>
		<td ng-click="deletePatient(p)"><img src="../Assets/delete.png"/></td>
	</tr>
</table>

<button class="btn btn-lg btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
	Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button class="btn btn-lg btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
	Next
</button>


