<a class="btn btn-lg btn-primary" href="#/home">&lt; Patient List</a>

<h2 class="text-center"> Patient Details </h2>
<hr>
<br>

<form class="container form-horizontal" name="patientDetailsForm" ng-submit="patientDetailsForm.$valid && editPatient(patient)">
	<br>

	<!-- Text input FirstName-->
	<div class="form-group">
		<label class="col-lg-3 control-label">First Name</label>
		<div class="col-lg-7">
			<input type="text" placeholder="Enter patients's first name" class="form-control input-lg" name="firstName" ng-model="patient.firstName" ng-pattern="/^[A-z]{3,19}$/" required>
			<span ng-show="patientDetailsForm.firstName.$error.pattern">Only letter | 3-19 character</span>
		</div>
	</div>

	<!-- Text input LastName-->
	<div class="form-group">
		<label class="col-lg-3 control-label" for="textinput">Last Name</label>
		<div class="col-lg-7">
			<input type="text" name="lastName" placeholder="Enter patient's last name" class="form-control input-lg" ng-pattern="/^[A-z]{3,19}$/" ng-model="patient.lastName" required="">
			<span ng-show="patientDetailsForm.firstName.$error.pattern">Only letter | 3-19 character</span>
		</div>
	</div>

	<!-- Text input complaint-->
	<div class="form-group">
		<label class="col-lg-3 control-label" for="textinput">Complaint</label>
		<div class="col-lg-7">
			<input type="text" placeholder="Enter patient's symptoms" class="form-control input-lg" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="patient.visits.complaint" required="" name="complaint">
			<span ng-show="patientDetailsForm.complaint.$error.pattern">Only Letter please</span>
		</div>
	</div>

	<!-- Text input billing-->
	<div class="form-group">
		<label class="col-lg-3 control-label">Billing Amount</label>
		<div class="input-group col-lg-7">
			<span class="input-group-addon">$</span>
			<input type="number" name="quantity" placeholder="Total cost" class="form-control input-lg" min="0" ng-pattern="/^\d+$/" ng-model="patient.visits.billingAmount" required="">
			<span ng-show="patientDetailsForm.quantity.$error.pattern">Only Number please</span>
		</div>
	</div>

	<!-- Text input Patients Age-->
	<div class="form-group">
		<label class="col-lg-3 control-label">Age</label>
		<div class="col-lg-7">
			<input type="text" name="age" min="1" max="99" placeholder="Enter Age" class="form-control input-lg" ng-model="patient.age" required="" ng-pattern="/^\d+$/">
			<span ng-show="patientDetailsForm.age.$error.pattern">Only Number please</span>
		</div>
	</div>

	<!-- Text input Patients Doctor-->
	<div class="form-group">
		<label class="col-lg-3 control-label">Family Doctor</label>
		<div class="col-lg-7">
			<select class="form-control input-lg" ng-model="patient.familyDoctor" name="familyDoctor" ng-options="p.firstName +' '+p.lastName for p in patient.familyDoctor track by patient.familyDoctor" required>
				<option value="">Please Select doctor...</option>
			</select>
			<span ng-show="patientDetailsForm.familyDoctor.$error.required">Please select a value</span>
		</div>
	</div>

	<!-- Text input Created At-->
	<div class="form-group">
		<label class="col-lg-3 control-label">Created At</label>
		<div class="col-lg-7">
			<input type="text" class="form-control input-lg" id="datepicker " placeholder="Calender (DD/MM/YYYY)" ng-model="patient.createdAt" name="createdAt" ng-pattern="/^\d{4}\-\d{2}\-\d{2}$/" required>
			<span ng-show="patientDetailsForm.createdAt.$error.pattern">Not correct Date! Follow the format</span>
		</div>
	</div>

	<!-- Text input Modified At-->
	<div class="form-group">
		<label class="col-lg-3 control-label">Modified At</label>
		<div class="col-lg-7">
			<input type="text" class="form-control input-lg" id="datepicker " placeholder="Calender (DD/MM/YYYY)" ng-model="patient.lastModified" name="lastVisitDate" ng-pattern="/^\d{4}\-\d{2}\-\d{2}$/" required>
			<span ng-show="patientDetailsForm.lastVisitDate.$error.pattern">Not correct Date! Follow the format</span>
		</div>
	</div>

	<!-- Button -->
	<div class="form-group">
		<div class="col-lg-3 col-lg-offset-3">
			<input type="submit" class="btn btn-info btn-lg btn-block" />
		</div>
		<div class="col-lg-3 col-lg-offset-1">
			<input type="reset" class="btn btn-warning btn-lg btn-block" value="Clear" />
		</div>
	</div>

</form>