body,
.panel {
	padding-top: 40px;
}

select {
	margin-top: 8px;
}

option {
	margin: 2px 0 2px;
	font-size: 1.5em;
}

#patientList >tbody > tr:first-child,
th {
	text-align: center;
	cursor: default;
	color: red;
	letter-spacing: 2.5px;
}

#patientList tr {
	cursor: hand;
	text-align: center;
}

#patientList td:last-child{
	border: 2px solid black;
	width: 7%;
}
#patientList img{
	width: 37%;
}

ul > a {
	margin-left: 15px;
}

ul.nav li a {
	color: blue;
	border: 1px solid black;
}

ul.nav li a:hover {
	color: red;
	background: black;
}

.active {
	display: block;
}

.inactive {
	display: : none;
}